<%- model_class = GameEvent -%>
<div class="page-header">
  <h1><%=t '.title', :default => GameEvent %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th><%= model_class.human_attribute_name(:title) %></th>
      <th><%= model_class.human_attribute_name(:description) %></th>
      <th><%= model_class.human_attribute_name(:game_system) %></th>
      <th><%= model_class.human_attribute_name(:start_date_time) %></th>
      <th><%= model_class.human_attribute_name(:hours_duration) %></th>
      <th><%= model_class.human_attribute_name(:number_of_players) %></th>
      <th><%= model_class.human_attribute_name(:approved) %></th>
      <th><%= model_class.human_attribute_name(:scheduled) %></th>
      <th><%= model_class.human_attribute_name(:accepting_players) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @game_events.each do |game_event| %>
      <tr>
        <td><%= game_event.id %></td>
        <td><%= game_event.title %></td>
        <td><%= game_event.description %></td>
        <td><%= game_event.game_system %></td>
        <td><%= game_event.start_date_time %></td>
        <td><%= game_event.hours_duration %></td>
        <td><%= game_event.number_of_players %></td>
        <td><%= game_event.approved %></td>
        <td><%= game_event.scheduled %></td>
        <td><%= game_event.accepting_players %></td>
        <td><%=l game_event.created_at, format: :long %></td>
        <td>
          <%= link_to game_event_path(game_event), :class => 'btn btn-xs', :title => "#{ t('.show', :default => t('helpers.links.show')) }" do %>
            <%= glyph 'info-sign' %>
            <%= glyph 'pencil' %>
          <%- end -%>
          <%= link_to game_event_path(game_event), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs', :title => "#{ t('.destroy', :default => t('helpers.links.destroy')) }" do %>
            <%= glyph 'remove' %>
          <%- end -%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_game_event_path,
            :class => 'btn btn-primary' %>
